.message {
  position: fixed;
  top: 20px; 
  left: 50%; 
  transform: translateX(-50%); 
  z-index: 9999;
  display: flex;
  align-items: center;
  color: #000000;
  padding: 20px 40px; 
  border: 1px solid #ffffff;
  font-size: 20px;
  border-radius: 5px;

  &.red {
    background-color: #da1e28; 
    color: #000000; 
  }

  &.green {
    background-color: #24a148; 
    color: #000000;
  }

  &.black {
    background-color: #fdd13a; 
    color: #000000;
  }
}
