.accordion-itens{
    display: flex;
    padding: 1vw;
}

.itens-info {
    flex: 1;
}

.itens-img{
    flex: 1;
}

.itens-img img{
    width: 20vw;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.button-container{
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
    padding: 10px;
}