<app-container>

    <app-title
        [value]="titleProductAdd">
    </app-title>

    <div class="accordion-itens">

        <div class="itens-img">
            <app-image-upload
              [previewUrl]="previewUrl"
              (imageSelected)="onImageChange($event)">
            </app-image-upload>
        </div>
    
        <div class="itens-info">
            <app-input-text
                class="itens"
                [placeholder]="placeholderName" 
                [(value)]="valueName"
                [indDisableFields]="indDisableFields">
            </app-input-text>

            <app-input-text
                class="itens"
                [placeholder]="placeholderDescription" 
                [(value)]="valueDescription"
                [indDisableFields]="indDisableFields">
            </app-input-text>

            <app-input-number
                class="itens"
                [placeholder]="placeholderQuantity" 
                [(value)]="valueQuantity"
                [indDisableFields]="indDisableFields">
            </app-input-number>

            <app-input-number
                class="itens"
                [placeholder]="placeholderPrice" 
                [(value)]="valuePrice"
                [indDisableFields]="indDisableFields">
            </app-input-number>

        </div>

    </div>

    <div class="button-container">

        <app-button 
            [indDisabled]="false"
            [name]="'Voltar'"
            (action)="return()">
        </app-button>

        <app-button 
          [indDisabled]="indDisableFields"
          [name]="'Salvar'"
          (action)="checkSave()">
        </app-button>

      </div>
</app-container>

<app-footer></app-footer>

<app-message *ngIf="indShowMessage" [message]="message"></app-message>
