.accordion-itens{
    display: flex;
    padding: 1vw;
}

.itens-info {
    flex: 1;
}

.itens-img{
    flex: 1;
}

.itens-img img{
    width: 20vw;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.button-container {
    position: fixed;
    bottom: 8vw;
    left: 10vw;
    right: 10vw;
    display: flex;
    justify-content: space-between; 
    padding: 10px;
  }
  