<app-container>

    <app-title
        [value]="titleProductAdd">
    </app-title>

    <div class="accordion-itens">

        <div class="itens-img">
            <app-image-upload
            (imageSelected)="onImageSelected($event)"></app-image-upload>
        </div>

        <div class="itens-info">
            <app-input-text
                class="itens"
                [placeholder]="placeholderName" 
                [(value)]="valueName">>
            </app-input-text>

            <app-input-text
                class="itens"
                [placeholder]="placeholderDescription" 
                [(value)]="valueDescription">>
            </app-input-text>

            <app-input-number
                class="itens"
                [placeholder]="placeholderQuantity" 
                [(value)]="valueQuantity">
            </app-input-number>

            <app-input-number
                class="itens"
                [placeholder]="placeholderPrice" 
                [(value)]="valuePrice">
            </app-input-number>

        </div>

    </div>

    <div class="button-container">

        <app-button 
            [indDisabled]="false"
            [name]="'Voltar'"
            (action)="return()">
        </app-button>

        <app-button 
          [indDisabled]="false"
          [name]="'Salvar'"
          (action)="save()">
        </app-button>

      </div>
</app-container>

<app-footer></app-footer>

<app-message *ngIf="indShowMessage" [message]="message"></app-message>
