.text-input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
  
    input {
        width: 18vw;
        padding: 10px;
        font-size: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
        outline: none;
    
        &:focus {
            border-color: #007bff;
        }
    }
}
  